<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9705010398-r4bd4b42704ec4h02uksvkj61ouppefs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9705010398-r4bd4b42704ec4h02uksvkj61ouppefs</string>
	<key>API_KEY</key>
	<string>AIzaSyAdTIMTTVXZwYZKBBVkVc_aKGJ-iXuGqTU</string>
	<key>GCM_SENDER_ID</key>
	<string>9705010398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrei.GroupRoots</string>
	<key>PROJECT_ID</key>
	<string>grouproots-1c51f</string>
	<key>STORAGE_BUCKET</key>
	<string>grouproots-1c51f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:9705010398:ios:6dfdb121f9ebd572ed3e4f</string>
	<key>DATABASE_URL</key>
	<string>https://grouproots-1c51f.firebaseio.com</string>
</dict>
</plist>
